<<<<<<< HEAD
body {
  background-color: #fd50d5a9;
  color: #222;
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-family: Georgia, serif;
  color: #2c3e50;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  padding-left: 20px;
}

header {
  background-color: #c04ea7;
  padding: 10px;
}

footer {
  background-color: #b2bec3;
  padding: 10px;
  margin-top: 20px;
}

main {
  padding: 15px;
}

a {
  color: #e3090d;
  text-decoration: none;
}
=======

>>>>>>> 1e3f843092165090af73fa6bdd414c016b0187a8
