<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/nkamiche/">Webpage</a> |
        <a href="https://github.com/nkamiche">GitHub</a> |
        <a href="https://webpages.charlotte.edu/nkamiche">CLT Web</a> |
        <a href="https://nkamiche.github.io">GitHub.io</a> |
        <a href="https://www.linkedin.com/in/nehakamichetty/">LinkedIn</a> |
        <a href="https://www.freecodecamp.org/learn">FreeCodeCamp</a> |
        <a href="https://www.codecademy.com/learn">Codecademy</a>
    </nav>

    <p>
        Page designed by
        <a href="nehanexussolutions.co/">Neha Nexus Solutions</a>
        &copy; 2026
    </p>
</footer>