<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/nkamiche/">CLT Web</a> |
        <a href="https://nkamiche.github.io/">GitHub.io</a> |
        <a href="https://github.com/nkamiche">GitHub</a> |
        <a href="https://www.freecodecamp.org/learn">FreeCodeCamp</a> |
        <a href="https://www.codecademy.com/learn">Codecademy</a> |
        <a href="https://www.linkedin.com/in/nehakamichetty/">LinkedIn</a>
    </nav>

    <p>
        <a href="nehanexussolutions.co/">Neha Nexus Solutions</a> &copy;2026
    </p>

    <p>
        <a href="https://www.freecodecamp.org/certification/nehak12/responsive-web-design-v9" target="_blank" rel="noopener noreferrer">Certified in Responsive Web Design</a>
    </p>
</footer>
