<header>
    <h1>ITIS 3135 | Neha Kamichetty | Nice Kangaroo</h1>

    <nav aria-label="Primary navigation">
        <a href="index.html">Home</a> |
        <a href="contract.html">Contract</a> |
        <a href="survey.html">Survey</a> |
        <a href="cards.html">Cards</a> |
        <a href="inventory.html">Inventory</a> |
        <a href="documentation.html">Documentation</a> |
        <a href="product.html">Product</a>
    </nav>

    <nav aria-label="Secondary navigation">
        <a href="introduction.html">Introduction</a> |
        <a href="about.html">About</a> |
        <a href="hobby/index.html">Hobby</a> |
        <a href="pictures.html">Pictures</a> |
        <a href="website_evaluations.html">Website Evaluations</a> |
        <a href="stuff/stuff-1--.htm">Crappy Page</a> |
        <a href="introduction_form.html">Introduction Form</a> |
        <a href="gallery.html">Gallery</a> |
        <a href="nicekangaroo/index.html">Nice Kangaroo Care Kits</a> |
        <a href="instructions.html">Instructions</a> |
        <a href="highlight.html">Highlight</a>
    </nav>
</header>
